@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'EnvyCodeR Nerd Font';
  src: local('EnvyCodeR Nerd Font');
  font-weight: normal;
  font-style: normal;
}

/* Fallback font if EnvyCodeR is not available */
@font-face {
  font-family: 'Hack';
  src: local('Hack');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
}